@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollDot {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animate-scrollDot {
  animation: scrollDot 1.6s infinite;
}